*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-black-color: #100E0D;
    --main-white-color: #f6f4f4;
    --main-blue-color: #8990c6;
}
body{
    background-color: var(--main-black-color);
    font-family: 'Josefin Sans', sans-serif;
}
body .container{
    width: 100%;
    height: 100vh;
    background-color: var(--main-black-color);
    overflow: hidden;
}
body header{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 15vh;
    overflow-x: hidden;
}
body header img{
    position: absolute;
    top: 25vh;
    height: 50vh;
    opacity: .6;
}
body header h1{
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-white-color);
    font-size: max(3.5rem, 12vw);
    font-weight: bold;
    opacity: 1;
    mix-blend-mode: difference;
    transform: scale(1);
}
body header h1 span{
    line-height: 12.4vw;
}
body header h1 span:nth-child(1){
    transform: translate(-45%);
}
body header h1 span:nth-child(3){
    transform: translate(45%);
}
body .stylax{
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    margin-bottom: 40vh;
    background-color: var(--main-black-color);
}
body .stylax .long-images{
    width: 80%;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
body .stylax .long-images .long-image{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
body .stylax .long-images .long-image:nth-child(2n+1){
    flex-direction: row-reverse;
}
body .stylax .long-images .long-image .left{
    height: 100%;
    width: 50%;
    position: relative;
}
body .stylax .long-images .long-image .left .shape{
    aspect-ratio: 0.53;
    width: 70%;
    border-radius: 200px;
    position: absolute;
    top: 51%;
    left: 41%;
    transform: translate(-50%, -50%);
    border: solid 2px var(--main-blue-color);
}
body .stylax .long-images .long-image:nth-child(2n) .left .shape{
    border: solid 2px var(--main-white-color);
}
body .stylax .long-images .long-image .left img{
    width: 70%;
    border-radius: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
body .stylax .long-images .long-image .right{
    width: 50%;
    height: 100%;
    color: var(--main-white-color);
    padding: 15vh 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}
body .stylax .long-images .long-image:nth-child(2n) .right{
    text-align: right;
}
/* body .stylax .long-images .long-image:nth-child(2n) .right .desc{
    text-align: right;
} */
body .stylax .long-images .long-image .right .camera-infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--main-blue-color);
}
body .stylax .long-images .long-image .right .title{
    font-size: max(1.5em ,4vw);
    margin-bottom: 64px;
    white-space: nowrap;
    color: var(--main-white-color);
    /* color: transparent; */
    /* background: linear-gradient( var(--main-black-color) , var(--main-black-color)) white no-repeat 0 0; */
    /* position: relative;
    overflow: hidden;
    display: table;
    z-index: 1; */
}
/* body .stylax .long-images .long-image .right .title::before{
    content: "";
    position: absolute;
    inset: 0 0;
    background-color: grey;
    transform: translate(-100%);
    transition: .3s;
    z-index: -1;
}
body .stylax .long-images .long-image .right .title:hover::before{
    transform: translate(0);
} */
body .stylax .long-images .long-image .right .desc{
    text-align: justify;
    line-height: 24px;
    margin-top: 12px;
}
body .stylax .long-images .long-image .right .desc a{
    color: var(--main-white-color);
    text-decoration: none;
    position: relative;
}
body .stylax .long-images .long-image .right .desc a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--main-blue-color);
    transform: scaleX(1);
    transition: .3s;
    transform-origin: right;
}
body .stylax .long-images .long-image .right .desc a:hover::before{
    transform: scaleX(0); 
}
body .stylax .long-images .long-image .right .desc a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--main-blue-color);
    transform: scaleX(0);
    transition: .3s;
    transition-delay: .15s;
    transform-origin: left;
}
body .stylax .long-images .long-image .right .desc a:hover::after{
    transform: scaleX(1);
}
body .stylax .imgs{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 2%;
    opacity: 0;
    transform: translateY(100px);
    margin-bottom: 100px;
}
body .stylax .imgs .img-div{
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 200px;
    max-width: 20%;
    height: 100%;
}
body .stylax .imgs .img-div .img{
    width: 100%;
    height: 100%;
    background-image: url('imgs/1.PNG');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
body .stylax .imgs .img-div .img2{
    background-image: url('imgs/2.PNG');
}
body .stylax .imgs .img-div .img3{
    background-image: url('imgs/3.PNG');
}
body .stylax .imgs .img-div .img4{
    background-image: url('imgs/4.PNG');
}
body .stylax .imgs .img-div .img5{
    background-image: url('imgs/5.PNG');
}
body .stylax .imgs .img-div .img6{
    background-image: url('imgs/6.PNG');
}
body .stylax .imgs .img-div .desc{
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 200px;
    max-width: 20%;
}
body .stylax .imgs .desc p{
    color: var(--main-white-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
body .stylax .imgs .desc p span:nth-child(2){
    text-transform: uppercase;
}
body footer{
    background-color: var(--main-black-color);
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    gap: 10%;
    width: 100%;
    z-index: -10;
    padding: 10vh 0 15vh 0;
    position: relative;
    margin: auto;
    overflow: hidden;
}
body footer .colored{
    position: absolute;
    background-color: var(--main-blue-color);
    inset: 0 0;
    padding: 16px;
}
body footer .colored span{
    color: var(--main-black-color);
    font-weight: 700;
    position: absolute;
    transform-origin: left;
    transform: rotate(-90deg) translate(-52px);
    ms-transform: rotate(90deg);
    webkit-transform: rotate(90deg);
}
body footer .who-we-are,
body footer .share-it{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: fit-content;
    color: var(--main-blue-color);
    gap: 24px;
}
body footer .who-we-are .title,
body footer .share-it .title{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 32px;
}
body footer .who-we-are a,
body footer .share-it a{
    text-decoration: none;
    color: var(--main-white-color);
    font-size: 20px;
    position: relative;
    width: fit-content;
}
body footer .who-we-are a::before,
body footer .share-it a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--main-white-color);
    transform: scaleX(1);
    transition: .3s;
    transform-origin: right;
}
body footer .who-we-are a:hover::before,
body footer .share-it a:hover::before{
    transform: scaleX(0); 
}
body footer .who-we-are a::after,
body footer .share-it a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--main-white-color);
    transform: scaleX(0);
    transition: .3s;
    transition-delay: .15s;
    transform-origin: left;
}
body footer .who-we-are .designer-dev{
    position: inherit;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
body footer .who-we-are a:hover::after,
body footer .share-it a:hover::after{
    transform: scaleX(1);
}
body footer .who-we-are .designer-dev span{
    position: relative;
    width: fit-content;
}
body footer .who-we-are .designer-dev span::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--main-white-color);
    transform: scaleX(1);
    transition: .3s;
    transform-origin: right;
}
body footer .who-we-are .designer-dev:hover span::before{
    transform: scaleX(0);
}
body footer .who-we-are .designer-dev span::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--main-white-color);
    transform: scaleX(0);
    transition: .3s;
    transition-delay: .15s;
    transform-origin: left;
}
body footer .who-we-are .designer-dev:hover span::after{
    transform: scaleX(1);
}
body footer .who-we-are .designer-dev span:nth-of-type(2)::before{
    display: none;
}body footer .who-we-are .designer-dev span:nth-of-type(2)::after{
    display: none;
}
body footer .who-we-are .designer-dev span:nth-of-type(3)::before{
    transition-delay: .15s;
}body footer .who-we-are .designer-dev span:nth-of-type(3)::after{
    transition-delay: .3s;
}

/* LOADING */

.loading{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    inset: 0 0;
    background-color: var(--main-black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
.loading .imgs{
    position: relative;
}
.loading .imgs .img{
    height: 400px;
    width: 260px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.loading .imgs .img-color{
    z-index: 1000;
    background-color: var(--main-black-color);
    height: 400px;
    width: 270px;
}
@media screen and (max-width: 750px){
    body header{
        /* height: 80vh; */
    }
    body header img{
        height: 30vh;
        top: 35vh;
    }
    body header h1{
        gap: 8vh;
    }
    body .stylax {
        margin-bottom: 0;
    }
    body .stylax .long-images {
        gap: 0;
    }
    body .stylax .long-images .long-image{
        flex-direction: column !important;
        height: 85vh;
    }
    body .stylax .long-images .long-image:nth-child(2n+1){
        align-items: flex-end;
    }
    body .stylax .long-images .long-image .left{
        height: 50%;
    }
    body .stylax .long-images .long-image .left img{
        width: 100%;
    }body .stylax .long-images .long-image .left .shape{
        width: 100%;
    }
    body .stylax .long-images .long-image .right{
        width: 100%;
        padding: 0 32px;
        height: auto;
    }
    body .stylax .long-images .long-image .right .title{
        margin-bottom: 32px;
    }
}
@media screen and (max-width: 650px){
    body footer{
        gap: 128px;
    }
    body footer .who-we-are,
    body footer .share-it{
        width: 340px;
    }
}
@media screen and (max-width: 500px){
    
    body .stylax .long-images .long-image .left{
        width: 90%;
    }
    body .stylax .long-images .long-image .right{
        gap: 0;
        padding-top: 32px;
        background: rgb(16,14,13);
        background: linear-gradient(0deg, rgba(16,14,13,1) 0%, rgba(16,14,13,0.8) 85%, rgba(16,14,13,0) 100%);
    }
    body .stylax .long-images .long-image .right .title{
        margin-bottom: 24px;
    }
}
@media screen and (max-width: 400px){
    body .stylax .long-images{
        gap: 64px;
    }
    body .stylax .long-images .long-image .left{
        width: 70%;
    }
}